* {
  box-sizing: border-box;
  //font-family: $JosefinSans;
}

.my-container {
  margin: 0 auto;
  width: 100%;
  padding: 0 5em;
  //font-family: $JosefinSans;
  @include desktop {
    padding: 0 2em;

  }
  @include tablet {
    padding: 0 1.5em;

  }
  @include smallerTablet {
    padding: 0 1.5em;

  }
  @include phone {
    padding: 0;

  }
  @include smallerPhone {
    padding: 0;

  }

}

body {
  //background-color: $brighterBlackColor;
  background-color: #141414;
  //background-color: rgba(0, 0, 0, 0.49);
  font-family: $fontOswald;

  @include desktop {
    //background-color: rgba(4, 62, 0, 0.8);

  }

  @include tablet {
    //background-color: green;
    //background-color: rgba(41, 41, 0, 0.8);
  }
  @include smallerTablet {
    //background-color: green;
    //background-color: rgba(48, 0, 44, 0.8);
  }
  @include phone {
    //background-color: rgba(0, 0, 52, 0.8);
  }

  @include smallerPhone {
    //background-color: rgba(60, 0, 0, 0.8);
  }
}