*{
  box-sizing: border-box;
}
.container {
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
}
body{
  background-color: $brighterBlackColor;
  font-family: $fontOswald;
}

.main-body{
  //background-color: $brighterBlackColor;
  //height: 100vh;
  //width: 100vw;
  .main-body-section{
    background-color: $brighterBlackColor;
  }
}