.modal-box-close-btn {
  z-index: 99;
  border: 2px solid #242424;
  background-color: rgba(0, 0, 0, 0.95);
  position: relative;
  height: 3em;
  width: 3em;
  top: 0%;
  left: 50%;
  //right: -97%;
  margin: 0;
  transform: translateY(-69%)translateX(-50%);
  padding: 1em;
  border-radius: 50%;
  //display: flex;
  //align-content: center;
  //justify-content: center;
  @include desktop{
    right: -95%;

  }
  @include tablet{
    right: -95%;


  }
  @include smallerTablet{

  }
  @include phone{

  }
  @include smallerPhone{

  }

  //border: none;
  transition: transform 0.3s ease-in-out;
  &:hover {
    //background-color: $greyFontColor;
    background-color: rgba(0, 0, 0, 0.95);
    box-shadow: 0 0 1em $accentColor2;
    transition: transform 0.5s ease-in-out;

    .gg-close {
      //color: rgba(0, 0, 0, 0.95);
      transform: scale(1.3);
      color: $accentColor2;
      transition: transform 0.2s ease-in-out;
    }

  }

  .gg-close {
    transition: transform 0.3s ease-in-out;
    position: relative;
    //color: rgba(50, 50, 50, 0.95);
    //color: $greyFontColor;
    color: rgb(93, 91, 91);
    //top: -4px;
    //right: 3px;
    top: -5px;
    right: 5px;
    transform: scale(1.2);
    &:active{
      //color: $accentColor2;
      color: $whiteFontColor2;
      transition: transform 0.6s ease-in-out;
    }
  }

}

.modal-box-top-b_img {

  overflow: hidden;
  @include tablet{
    width: 100%;

  }

  img {
    width: 100%;

  }

}
.makeStyles-paper-8{
  overflow: hidden;

}

.modal-box-top-img {
  //position: absolute;
  //width: 250px;
  //border: 5px solid black;
  width: 40%;

  img {
    border-radius: 10px;
    position: absolute;
    //width: 100%;
    width: 18em;
    //width: 21%;
    top: 15%;
    left: 15%;
    box-shadow: 0 0 1em black;
    @include desktop{
      width: 16em;


    }
    @include tablet{
      width: 21em;
      margin-left: 7%;

    }
    @include smallerTablet{
       width: 21em;
      margin-left: 3%;

     }

    @include phone{
      margin-left: 3%;

      width: 16em;
    }
    @include smallerPhone{

      margin-left: 0;
      width: 16em;
    }

  }

}

.modal-box {
  font-family: $JosefinSans;
  height: 100%;
  display: flex;
  flex-direction: column;
  //position: relative;
  //top: -459px;
  //box-shadow: 0 0 1em black;
  @include tablet{
    background-color: rgba(20, 20, 20, 0.9);
    position:relative;
    top: -2em;
  }

  .modal-box-top {
    display: flex;
    //background-color: red;
    height: 50%;
    width: 100%;
    justify-content: flex-end;
    @include tablet{
      height: 30%;

    }

    //
    //.modal-box-top-img {
    //  //position: absolute;
    //  //width: 250px;
    //  //border: 5px solid black;
    //  width: 40%;
    //
    //  img {
    //    border-radius: 10px;
    //    position: absolute;
    //    //width: 100%;
    //    width: 16em;
    //    top: 15%;
    //    left: 15%;
    //    box-shadow: 0 0 1em black;
    //
    //  }
    //
    //}

    .modal-box-top-title {
      width: 60%;
      display: flex;
      flex-direction: column;
      //border: 5px solid black;
      justify-content: space-evenly;
      @include tablet{
        //padding: 5px;
        width: 100%;
        display: flex;
        flex-direction: column;
        //justify-content: flex-end;
        align-content: center;
      }
      //@include phone {
      //  padding: 5px;
      //
      //}

      span {
        font-size: 3em;
        display: flex;
        justify-content: center;
        //align-items: center;
        //margin-top: 1.1em;
        text-align: center;
        flex-direction: column;
        @include desktop{
          padding: 10px;

        }
        @include smallerTablet{
          padding: 20px;
          font-size: 2em;
        }
        @include phone {
          padding: 5px;

        }


      }

      .modal-box-bottom-more_info {
        display: flex;
        font-size: 0.5em;
        text-align: center;
        justify-content: center;
      }
    }
  }

  .space-line {
    background-color: $accentColor;
    width: 3px;
    height: 35px;
    border-radius: 50px;
    margin: 0 1em 0 1em;
    @include smallerTablet{
      font-size: 0.5em;
      text-align: center;
      line-height: 0;
     //display: none;


    }


  }

  .modal-box-bottom {
    //background-color: blue;
    height: 50%;
    display: flex;
    width: 100%;
    @include tablet{
      height: 70%;

    }

    .watch-the-trailer-btn {

    }


    .modal-box-bottom-description {
      //border: 5px solid black;
      width: 100%;
      padding: 2em;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      @include smallerTablet {
        padding: 1em;

      }

      span {
        font-size: 1.5em;
        //margin-bottom: 10em;
      }

      .watch-the-trailer-btn {
        font-family: $JosefinSans;
        display: flex;
        @include desktop{

        }
        @include tablet{

        }
        @include smallerTablet{

        }
        @include phone{
          font-size: 0.5em;

        }
        @include smallerPhone{

        }
      }

      .modal-box-bottom-description-text {
        line-height: 1.2em;
        font-size: 1.2em;
        margin-top: 1em;
        font-weight: 300;
      }

    }

    .modal-box-bottom-more_info {
      //border: 5px solid black;
      width: 50%;
      display: flex;
      //flex-direction: column;
    }
  }

}