$blackColor: rgb(18, 18, 18);
$brighterBlackColor: rgb(40, 39, 39);
$fontColor: #ccc;
$greyFontColor: rgba(141, 140, 140, 0.69);
$whiteFontColor: #fff;
$accentColor:rgba(255, 0, 0, 0.55);
$accentColor2: rgb(155, 15, 15);
$blackTransparent: rgba(0, 0, 0, 0.88);