.button-add-del{
  color: $greyFontColor;
  background-color: $blackLessTransparent;
  box-shadow: 0 0 1em black;
  padding: 10px;
  border-radius: 10px;
  width: fit-content;
  margin: 0 auto;
  position: absolute;
  z-index:99;
  cursor: pointer;
  overflow: visible;
  transition: transform 0.6s ease-in-out;
  .gg-add {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
  }
  .gg-close-o {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
  }
  &:hover {
    color:$whiteFontColor ;
    transition: transform 0.2s ease-in-out;
    .gg-add {
      transform: scale(1.4);
      transition: transform 0.2s ease-in-out;
    }
    .gg-close-o {
      transform: scale(1.4);
      transition: transform 0.2s ease-in-out;
    }
  }
  &:active{
    color: $whiteFontColor2;
    transition: transform 0.6s ease-in-out;
    .gg-add{
      background-color: rgba(12, 122, 0, 0.6);
    }
    .gg-close-o{
      background-color: $accentColor3;
    }
  }
  &:focus{
    transition: transform 0.6s ease-in-out;
    color: $whiteFontColor2;
  }
}
.single-card-container {
  font-family: $JosefinSans;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.buttons-add-delete {
  cursor: pointer;
  transition: transform 0.4s ease-in-out;
  padding: 10px 0;
  top: -3px;
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: $blackTransparent;
  position: absolute;
  box-shadow: 0 0 1em black;
  bottom: 92%;
  overflow: visible;
  left: 0;
  right: 0;
  .gg-add {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
  }
  .gg-close-o {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
  }
  &:hover {
    transition: transform 0.2s ease-in-out;
    .gg-add {
      transform: scale(1.1);
      transition: transform 0.2s ease-in-out;
    }
    .gg-close-o {
      transform: scale(1.1);
      transition: transform 0.2s ease-in-out;
    }
  }
}
.single-card-box {
  width: 250px;
  min-width: 200px;
  background-color: rgba(12, 12, 12, 0.95);
  color: $fontColor;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
  margin: 10px;
  @include tablet {
    width: 300px;
  }
  img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    transition: transform 0.2s ease-in-out;
  }
  .single-card-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
  }
  .single-card-info {
    display: flex;
    border-top: 3px solid $brighterBlackColor;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0 10px 0;
  }
  .single-card-title-bottom {
    border-top: 4px solid $accentColor;
  }
  .main-buttons-add-delete{
    display: flex;
    width: 100%;
  }
  .button-more-info{
    width: 50%;
    cursor: pointer;
    padding: 10px 0;
    top: -3px;
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: $blackTransparent;
    position: absolute;
    box-shadow: 0 0 1em black;
    bottom: 92%;
    overflow: visible;
    right: 0;
    transition: 0.2s ease-in-out;
    //border-left: 1px solid $accentColor;
    //border-left: 1px solid $fontColor;
    &:hover{
      .gg-more-o{
        transform: scale(1.1);
        transition: transform 0.2s ease-in-out;

      }
    }
  }
  &:hover {
    transform: scale(1.03);
    transition: transform 0.4s ease-in-out;
    .single-card-info {
      border-top: 3px solid $fontColor;
    }
    img {
      transform: scale(1.03);
      transition: transform 0.3s ease-in-out;
    }
  }
}