.single-card-container {
  font-family: $JosefinSans;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}



.single-card-box {
  width: 250px;
  min-width: 200px;
  background-color: rgba(12, 12, 12, 0.95);
  color: $fontColor;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  margin: 10px;
  @include desktop {

  }
  @include tablet {
    width: 300px;

  }
  @include smallerTablet {


  }
  @include phone {

  }
  @include smallerPhone {

  }

  img {
    width: 100%;
    border-radius: 10px 10px 0 0;
  }

  .single-card-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
  }

  .single-card-info {
    display: flex;
    border-top: 3px solid $brighterBlackColor;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0 10px 0;
  }

  .single-card-title-bottom {
    border-top: 4px solid $accentColor;
  }

  .buttons-add-delete {
    display: none;
  }

  .buttons-add-delete {
  }

  .main-buttons-add-delete{
    display: flex;
    width: 100%;

  }
  .buttons-add-delete {
    //width: 50%;
    width: 100%;
    cursor: pointer;
    padding: 10px 0;
    top: -3px;
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: $blackTransparent;
    position: absolute;
    box-shadow: 0 0 1em black;
    bottom: 92%;
    overflow: visible;
    left: 0;
    right: 0;
    //border-right: 1px solid $accentColor;
    //border-right: 1px solid $fontColor;
    //border-right: 2px solid #353434;

    &:hover {

      .gg-add {
        transform: scale(1.1);
        transition: transform 0.2s ease-in-out;
      }

      .gg-close-o {
        transform: scale(1.1);
        transition: transform 0.2s ease-in-out;
      }
    }
  }
  .button-more-info{
    width: 50%;
    cursor: pointer;
    padding: 10px 0;
    top: -3px;
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: $blackTransparent;
    //background-color: red;
    position: absolute;
    box-shadow: 0 0 1em black;
    bottom: 92%;
    overflow: visible;
    right: 0;
    //border-left: 1px solid $accentColor;
    //border-left: 1px solid $fontColor;
    &:hover{
      .gg-more-o{
        transform: scale(1.1);
        transition: transform 0.2s ease-in-out;

      }
    }


  }

  &:hover {

    .single-card-info {
      border-top: 3px solid $fontColor;
    }

    transform: scale(1.03);
    transition: transform 0.3s ease-in-out;

    img {
      transform: scale(1.03);
      transition: transform 0.3s ease-in-out;

    }

    //.buttons-add-delete {
    //  cursor: pointer;
    //  padding: 10px 0;
    //  top: -3px;
    //  display: flex;
    //  align-content: center;
    //  justify-content: center;
    //  background-color: $blackTransparent;
    //  position: absolute;
    //  box-shadow: 0 0 1em black;
    //  bottom: 92%;
    //  overflow: visible;
    //  left: 0;
    //  right: 0;
    //
    //  &:hover {
    //
    //    .gg-add {
    //      transform: scale(1.1);
    //      transition: transform 0.2s ease-in-out;
    //    }
    //
    //    .gg-close-o {
    //      transform: scale(1.1);
    //      transition: transform 0.2s ease-in-out;
    //    }
    //  }
    //}
  }
}